@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body {
  font-family: "Space mono", Helvetica, sans-serif;
  color: #474bff;
  background: url("/img/bg.svg");
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  background-color: hsla(0, 0%, 100%, 0.935);
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.13), 0 1px 4px 0 rgba(0, 0, 0, 0.11);

  width: 450px;
  padding: 50px;
  border-radius: 35px;
}

.game-header {
  text-align: center;
  margin-bottom: 30px;
}

.game-header h2 {
  line-height: 1.3em;
  font-size: 1.9em;
  width: 70%;
  margin: auto;
}

.round-title {
  background-color: #474bff;
  border: 0px solid #474bff;
  border-radius: 8px;
  width: 150px;
  margin: auto;
  padding: 2px 4px;
}
.round-title h4 {
  color: #ffffff;
  line-height: 0em;
  font-size: 1.2em;
}

.human-selection {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px 20px 0px;
}

.human-selection img {
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid rgba(71, 74, 255, 0.6);
  padding: 15px;
  box-shadow: 0px 3px 6px 0px rgba(140, 149, 159, 0.15);
  cursor: auto;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
}
.human-selection img:hover {
  box-shadow: 0px 8px 16px 0px rgba(71, 75, 255, 0.5);
  cursor: pointer;
}

img {
  height: 60px;
}

.game-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 0px 20px 0;
  border-radius: 15px;
  /* border: 1.5px solid rgba(71, 74, 255); */
}

.human-choice,
.computer-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: hsla(240, 100%, 98%, 0.5);
  padding: 0 20px;
  border-radius: 15px;
} /*
.computer-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  background-color: hsla(240, 100%, 98%, 0.5);
  padding: 0 30px;
  border-radius: 15px;
} */

.game-body p {
  font-size: 12px;
  font-weight: 500;
}
.p-score {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid rgba(71, 74, 255);
  padding: 2px 5px;
}

.ruler {
  border-radius: 15px;
  border: 1.5px solid rgba(71, 74, 255);
  margin: 40px 0px 20px 0px;
  padding: 10px;
}

.ruler-text {
  font-size: 12px;
  font-style: italic;
  text-align: center;
  line-height: 1.2em;
}

.game-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 32px;
  border-radius: 5px;
  border: 0 solid;
  background-color: #ffffff;
  margin: 0 10px;
  transition: background-size 0.4s, background-position 0s 0.4s;
}

button.btn-new-game {
  background-color: #474bff;
  color: #ffffff;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  /* cursor: auto; */
}
button.btn-new-game:hover {
  box-shadow: 0px 8px 16px 0px rgba(71, 75, 255, 0.5);
  cursor: pointer;
}

button.btn-cancel {
  border: 1.7px solid #474bff;
  color: #474bff;
}
button.btn-cancel:hover {
  box-shadow: 0px 8px 16px 0px rgba(71, 75, 255, 0.5);
  cursor: pointer;
}

/************ gagner**************/
.tieMatch {
  color: hsl(239, 100%, 64%);
  line-height: 1.2em;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}
.winMatch {
  color: hsl(115, 100%, 43%);
  line-height: 1.2em;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}
.loseMatch {
  color: hsl(0, 100%, 64%);
  line-height: 1.2em;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

/*8********8* Object Begin******************/
.object-begin {
  opacity: 0.2;
}

.game-begin {
  opacity: 1;
}

/***************** Media Query *****************/

@media (200px <= width <= 600px) {
  .game-container {
    width: 70%;
    padding: 40px;
  }

  .game-header h2 {
    line-height: 1.7em;
    font-size: 1.5em;
    width: 100%;
    margin: auto;
    justify-content: space-between;
  }
  .human-selection img {
    height: 30px;
  }

  .human-choice,
  .computer-choice {
    padding: 0 20px;
  }
  .ruler {
    margin: 20px 0px 20px 0px;
    padding: 0px 10px;
  }

  button {
    padding: 5px 20px;
    font-size: 12px;
  }

  button.btn-new-game {
    border: 1.7px solid #474bff;
    /* cursor: auto; */
  }
}
